@import url(https://fonts.googleapis.com/css?family=Montserrat:900|Raleway:400,400i,700,700i|Poppins:400,500,600,700&display=swap);
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
}

body{
    background: linear-gradient(to right, #1fa2ff, #12d8fa, #a6ffcb);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#container {
    display: block;
    background-color: white;
    padding: 1rem;
    border-radius: 10px;
    width: 80%;
    box-shadow: 0.25rem 0.25rem 14rem 14px rgb(0 68 255 / 21%), 0 0.5rem 1.125rem rgb(75 0 0 / 5%);
}

header {
    display: flex;
    justify-content: space-between;
    color: #1f86cf;
    padding-bottom: 10px;

    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

ul{
    max-height: 50vh; 
    min-height: 50vh; 

    overflow-y: auto;
    margin: 1rem 0;

    font-family: 'Raleway', sans-serif;
}

ul::-webkit-scrollbar {
    width: 8px;
}

ul::-webkit-scrollbar-thumb {
    background: rgb(19, 204, 236);
    border-radius: 12px;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0;
    padding: 0 1rem;

    border-bottom: 1px solid rgba(0, 0, 0, 0.219);
    padding-bottom: 10px;
}

li:hover,
li label:hover {
    cursor: pointer;
}

li label {
    width: 100%;
    padding: 1rem 0;
}

li label:hover {
    color: rgb(19, 204, 236);
    transition: 0.1s
}

li input {
    margin-right: 20px;
    padding: 50px;
}

#inputField {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

#inputField input{
    padding: 1rem;
    border: 1px solid rgb(207, 207, 207);
    border-radius: 5px;
    font-size: 1rem;
    overflow: hidden;
    width: 80%
}

#inputField button{
    background: linear-gradient(to right, #1fa2ff, #12a5fa);

    border: none;
    border-radius: 5px;
    padding: 1rem;

    font-size: 1rem;
    color: white;
    font-weight: bold;

    opacity: 0.5;
    pointer-events: none;
}

#inputField button.active {
    opacity: 1;
    pointer-events: auto;
}


button#addTask:hover {
    cursor: pointer;
}

@media only screen and (min-width: 960px){

    #container {
        width: 50%;
       
    }

    #inputField input{
        width: 90%
    }
}